.header {
  height: 200px;
  background: linear-gradient(-45deg, #9b88d1, #dca1eb);
  overflow: hidden;
  figure {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    overflow: hidden;
    margin: 40px auto 0;
    img {
      width: 100%
    }
  }
}