.navbar {
  :global {
    .am-navbar {
      position: fixed;
      width: 100%;
      z-index: 10;
      top:0
    }
    .am-navbar-light {
      background-color: rgba(146, 146, 146, 0.466);
      // background-color: transparent;
      color: #fff
    }
    .am-navbar-light .am-navbar-title {
      color: #fff
    }
  }
}
.content{
  img{
    width: 100%
  }
  p {
    width: 90%;
    margin: 20px auto;
    line-height: 20px 
  }
}
